Language: Java

BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ColumnLimit: 0

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignOperands: Align
AlignAfterOpenBracket: Align

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

BinPackArguments: false
BinPackParameters: false

SpaceBeforeParens: ControlStatements

SpacesInParentheses: false
SpacesInSquareBrackets: false

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

IndentCaseLabels: true
IndentCaseBlocks: true

SortIncludes: false
